.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.headerButton{
    width: 92px;
    height: 28px;
    top: 3px;
    left: 393px;
    
}
.headerNavigator{
    display:inline;
    
}
li{
    list-style-type: none;
}
.navigation{
    display:inline;
    width: 501px;
    height: 34px;
    top: 19px;
    left: 851px;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    margin-left: 60px;
    margin-left: 60px;
}